
@font-face {
  font-family: 'DINCondensed-Bold';
  src: url('DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('DINCondensed-Bold.woff') format('woff'), url('DINCondensed-Bold.ttf')  format('truetype'), url('DINCondensed-Bold.svg#DINCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
